fastapi
pytest
pylint
uvicorn
sqlalchemy
datetime
uuid
shortuuid
psycopg2-binary
python-multipart
boto3
python-dotenv
tk
fastapi-crudrouter==0.8.5
passlib
bcrypt
shortuuid
cffi
click
h11
pycparser==2.21
pydantic==1.8.2